.form {
    background-color: rgb(98, 163, 98);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.form label {
    display: block;
    margin-bottom: 1rem;
    color: #f2fbe0;
}

.form input {
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 2rem;
    box-sizing: border-box;
    transition: all .2s;
    background-color: #f2fbe0;
    color: #605b56;
}

.form input:focus {
    outline-color: #ffad05;
}