.hole-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hole-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.stats h2 {
    margin: .5em 0;
}

.distances {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.hole-info h1 {
    font-weight: bold;
    color: darkolivegreen
}

.hole-info p {
    margin: 7px 0px;
    font-weight: bold;
}

.blue {
    color: #12539e;
}

.white {
    color: #f2fbe0;
}

.red {
    color: #a80505;
}

.container {
    background-color: #214e34;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1em;
    border-radius: 15px;
    color: #f2fbe0;
}

.hole-info img {
    max-width: 200px;
}

.controls {
    display: flex;
    padding: 1rem;
    align-items: center;
}


.controls button {
    box-sizing: border-box;
    border: none;
    font-size: 1rem;
    background-color: darkolivegreen;
    color: white;
    transition: all .3s;
    padding: .5rem;
}

.controls button:hover {
    background-color: rgb(70, 88, 37);
}

.start-hole {
    width: 50%;
    padding: .5rem;
}

.prev {
    width: 25%;
    border-radius: 10px 0px 0px 10px;
    margin-right: 1px;
}

.next {
    width: 25%;
    border-radius: 0px 10px 10px 0px;
    margin-left: 1px;
}