.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.form label {
    display: block;
    margin-bottom: 1rem;
}

.form input {
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 2rem;
    box-sizing: border-box;
    transition: all .2s;
    box-shadow: 2px 2px 5px #5b8e7d;
}

.form input:focus {
    outline-color: #f4e285;
}

.form button {
    border: none;
    width: 50%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #5b8e7d;
    color: white;
    border-radius: 10px;
    transition: all .3s;
}

.form button:hover {
    background-color: #3c5e52;
}

/* main green: 8cb369,
yellow: f4e285,
orange: f4a259,
dark green: 5b8e7d,
red/invalid: bc4b51 */